<h1>
  {{title}}
</h1>

<a routerLink="/test">Test</a>
<a routerLink="/test2">Test2</a>
<a routerLink="/test2/4">ParamTest</a>
<a routerLink="/dashboard">Dashboard</a>
<a routerLink="/documents/document-list">Documents -> Document List</a>
<a [routerLink]="['/documents','document-search']">Documents -> Document Search</a>
<a [routerLink]="['/admin','user-admin']">Admin -> User Admin</a>
<a [routerLink]="['/admin','hh-admin']">Admin -> HH-Admin</a>
<router-outlet></router-outlet>
<!--<app-test></app-test>-->
